body{
    margin: 0;
    padding: 0;

    background-color: rgb(20, 27, 24);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100vh;
    width: 100vw;   
}

.calculator{
    display: flex;
    flex-direction: column;

    background-color: rgb(66, 66, 66);
    border: 2px solid rgb(33, 32, 32);
    border-radius: 10px;
    
    width: 90vw;
    min-width: 250px;
    max-width: 400px;
    height: 90vh;
    
    margin-top: 30px;
    padding: 5px;
}

.display {
    height: 10%;

    padding: 20px;
    margin: 10px;
    
    background-color: rgb(97, 97, 97);
    border-radius: 10px;
}

.display-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 33% 33% 33%;
    
    background-color: yellowgreen;
    
    height: 100%;
    width: 100%;
}

.prev-number{
    grid-column: 1;
    grid-row: 1;

    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
}

.main-number{
    margin-left: auto;
    margin-right: 5px;

    grid-column: 1;
    grid-row: 3;

    font-size: large;
}

.buttons{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
    
    display: grid;
    
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 22% 22% 22% 22%;
}

.buttons > button{
    font-size: large;
    
    white-space: nowrap;
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 28px;
    padding-bottom: 28px;
    
    border-radius: 20px;
    border: 1px solid gray;

    cursor: pointer;
    background-color: rgb(35, 35, 35);
    color: white;
    
}

.buttons > button:active{
    background-color: rgb(60, 60, 60);
}

.equals {
    grid-column-start: 3;
    grid-column-end: 5;
}

.delete {
    grid-column-start: 1;
    grid-column-end: 3;
}

.delete-all{
    grid-column-start: 3;
    grid-column-end: 5;
}